<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<h1>Users</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}" ></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.eMail}"></td>
        <td><a th:href="@{/editUser/{id}(id=${user.id})}" class="button">Edit</a></td>
        <td>
            <a th:href="@{/deleteUser/{id}(id=${user.id})}" class="button">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
<a th:href="@{/addUser}" class="button">Add User</a>
</body>
</html>